{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "only-multiline"
    ],
    "react/jsx-closing-bracket-location": [
      1,
      "after-props"
    ],
    "no-new": 1,
    "new-cap": [
      "warn",
      {
        "capIsNewExceptions": [
          "CSSModules"
        ]
      }
    ],
    "max-len": 0,
    "no-else-return": 0,
    "eqeqeq": 0,
    "jsx-a11y/img-has-alt": [
      0
    ],
    "array-callback-return": 0,
    "no-plusplus": 0,
    "prefer-arrow-callback": 0,
    "no-bitwise": 0,
    "no-restricted-properties": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unused-state": 0,
    "no-continue": 0,
    "import/prefer-default-export": 0,
    "no-loop-func": 0,
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "react/no-find-dom-node": 0,
    "no-cond-assign": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "semi": 0,
    "linebreak-style": "off"
  }
}